
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
  font-size: 16px;
  font-family: "Raleway", monospace;
}

body, h1, h2, h3, h4, h5,h6 {
  margin: 0;
}

body {
  text-align: center;
  background-color: white;
}

/*Removing default list settings*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Removing default link settings*/
a {
  text-decoration: none;
  color: #e7e6e3;
}

/*Links on mouseover*/
a:hover {
  /*color: #e7e6e3;*/
  color: coral;
}

/* Naviation bar links on mouse-over */
#navigation a:hover {
  background-color: #0a6883;
  padding: 15px;
}

/* Styling the navigation bar */
#navigation {
  background-color: #25274D;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
}

/*Styling the navigation logo*/
#navigation img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

/*Styling the navigation links*/
.navlinks ul li {
  display: inline-block;
  padding: 20px 10px;
}

/*Fitting the poster to the home page*/
.poster img {
  top: 50px;
  height: 500px;
  object-fit:scale-down;
}

/*Styling the header for the about page*/
#header {
  background-image: url("images/about_banner.png");
  background-position: center;
  position: relative;
  display: flex;
  height: 200px;
  color: white;
  font-size: 25px;
  justify-content:center;
}

#header h1 {
  margin: 20px;
  padding: 30px;
}

/*Styling the main elements of the about page*/
#main {
  display: inline-block;
  text-align: center;
}

/*Styling the major headings of the about page*/
.sub h3{
  font-size: 2rem;
  color: coral;
}

/*Styling sections for Photo Carusel*/
* {
  box-sizing: border-box;
}

.photo-carousel-container{
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}

/*Hiding images by default
.section{
  display: none;
}*/

/*Styling next and previous buttons*/
.buttons .nav-btn{
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 50%;
  background: #25274D;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-weight: bold;
  transition: 0.4s ease;
  border-radius: 0 3px 3px 0;
  /*user-select: none;*/
}

/*Positioning next button*/
.next {
  right: 10px;
}

/*Positioning prev button*/
.prev {
  left: 10px;
}

/*Buttons on mouseover*/
.buttons .nav-btn:hover {
  background: #0a6883;
  cursor: pointer;
}

.carousel {
  margin-top: 20px;
  transition: all 0.3s ease;
}

.carousel img{
  width: 100%;
  transition: all 0.3s ease;
  border: 3px solid #0a6883;
}

/*Styling pavillion names*/
.Pavillion-Name{
  color: black;
  margin-top: -20px;
  font-size: rem;
  padding: 8px 12px;
  position: relative;
  top: 0;
}

/*Captions*/
.desc {
  color: white;
  position: relative;
  bottom: 70px;
  align-items: center;
  width: 100%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  background: rgb(37, 39, 77, 0.2);
  height: 45px;
}

.section {
  display: none;
}

.main1 {
  display: block;
}


#circles{
  text-align: center;
}

/*Styling the tally circles*/
.bubble{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  display: inline-block;
  transition: background-color 0.6s ease;
  border-radius: 50%;
}

.active, .bubble:hover{
  background-color: chocolate;
}

/*Styling the watch page*/
.watch iframe{
  display: inline-block;
}

/*Styling the connect page background*/
#invitation{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 150, 0.5), rgba(0, 0, 50, 0.5)), url("images/connect_background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  font-size: 16px;
  font-weight: bold;
}

/*Styling the connect page contact form*/
.form{
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control{
  width: 600px;
  background:transparent;
  outline: none;
  border-bottom: 1px gray;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

.form-submit{
  background: #ff5722;
  border-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

.form-submit:hover{
  background-color: #f44336;
}

/*Styling the footer*/
#footer{
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: lightslategray;
  bottom:0;
  width: 100%;
  filter: drop-shadow(2px 2px 4px #888888;
}
